.section {
    background-color: white;
    border-top: 1px solid #e7e7e7;
    display: flex;
    align-items: center;
    padding: 15px;
  }
  
  .section__TodoStatus {
    padding: 5px;
    border-width: 1px;
    border-style: solid;
    border-radius: 50%;
  }
  
  .section__TodoText {
    font-size: 24px;
    font-weight: lighter;
  
    height: 100%;
    width: 90%;
  
    padding: 0 20px;
  }
  
  .section .section__TodoDelete {
    display: none;
  }
  
  .section:hover .section__TodoDelete {
    display: block;
    color: rgb(190, 110, 110);
  }
  