.form__header {
    background-color: white;
  
    padding: 15px;
  
    display: flex;
    align-items: center;
  }
  
  .form__headerClearAll:hover {
    cursor: pointer;
  }
  
  .form__headerInputField {
    border: none;
    outline: none;
  
    font-size: 24px;
    font-weight: lighter;
  
    height: 100%;
    width: 90%;
  
    padding: 0 15px;
  
  }
  
  .form__headerInputField::placeholder {
    color: #ccc9c9;
    font-weight: lighter;
    font-style: italic;
  }
  
  /* Delete here */