.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    background-color: white;
    border-top: 1px solid #e7e7e7;
  
    padding: 15px;
  }
  
  .footer  button, p {
    font-weight: lighter;
    font-size: 16px;
    color: rgb(97, 96, 96);
  }
  
  .footer__FilterBtn , .footer__ClearBtn{
    background: transparent;
    border: 1px solid transparent;
    cursor: pointer;
  
    margin-left: 20px;
    padding: 4px 10px;
  
  }
  
  .footer__FilterBtnActive  {
    border: 1px solid rgba(173, 112, 112, .7);
    border-radius: 5px;
    cursor: pointer;
  }
  
  
  .footer__FilterBtnHover:hover {
    border: 1px solid rgba(173, 112, 112, .2);
    border-radius: 5px;
    cursor: pointer;
  }
  
  .footer__ClearBtn:hover {
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-color: rgb(97, 96, 96);
  }

  .hideBtn {
    visibility: hidden;
  }
  