* {
  margin: 0;
  padding: 0;
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body {
  background-color: #f5f5f5;
}

.header {
  font-size: 100px;
  font-weight: lighter;
  color: rgb(129, 70, 100);
  text-align: center;
}

.form {
  width: 50%;
  margin: 0 auto;
  box-shadow: 0px 4px 7px 3px rgba(222,222,222,1);
}